* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.carousel-h {    
    height: 40rem;
}	

.logo{
    width: 2em;
    margin-right: 2em;
}
    
.bg-black{
    background-color: #000000;
    color: #ffffff;
}

hr{
    color: #127180;
    border: solid;
}

.icono{
    background-color: #127180;
    text-align: center;
    display: block;
}

.bg-carta{
    background-color: #127180;
    color: #ffffff;
}	

.font-carta{
    color: black;
}

.imagen-carta{
    height: 10rem;
    width: 10rem;
}